#mainVideo {
    width: 100%;
    border: #555555 1px solid;
    max-width: 55vh;
    border-radius: 5px;
}

.stripeRow {
    border-radius: 5px;
    width: 85%;
    margin-bottom: 0;
    border: 1px solid #555;
    height: 100px;
    display: flex;
    float: right;
    margin-top:5px;
}

.stripeRow canvas {
    height: 100px;
    border-left: #555555 1px solid;
    /*filter: blur(1px);*/


}

.stripeRow .slitInfo {
    width: 20%;
    padding-left: 3px;
}

.stripeTypes img {
    margin-top: 2px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.fovRadio {
    height: 13px;
    margin-bottom: 2px;
}

#videoOverlay {
    border-radius: 5px;
}

.stripeTypes {
    display: flex;
    justify-content: stretch;
    column-gap: 10px;
}

.stripeTypes p {
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;

}

span input {
    width: 46px;
    padding: 0 !important;
    height: 25px !important;
}

.stripeFps p {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.stripeRun {
    height: 25px !important;
    line-height: normal;
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    top: -14px;
    position: relative;
}

.wrongButton {
    background-color: #cf3e3e;
    color: #fff;
}

.goodButton {
    background-color: #73cf3e;
    color: #fff;
}

.selectedImg {

}

#videoOverlay {
    position: absolute;
    top: 0px;
    left: 0;
}

.stripeCan {
    width: 80%;
}

.slitEdit {
    border: red solid 1px;
}


#pointer1, #pointer2 {

    cursor: pointer;
}

#pointer1:hover, #pointer2:hover {

   fill: #cf3e3e !important;
}