#mainVideo {
    width: 100%;
    border: #555555 1px solid;
    max-width: 55vh;
    border-radius: 5px;
}

.stripeRow {
    border-radius: 5px;
    width: 95%;
    margin-bottom: 0;
    border: 1px solid #555;
    height: 100px;
    display: flex;
    float: right;
    margin-top: 5px;
}

.stripeRow canvas {
    height: 100px;
    border-left: #555555 1px solid;
    /*filter: blur(1px);*/


}

.stripeRow .slitInfo {
    width: 25%;
    padding-left: 3px;
}

.stripeTypes img {
    margin-top: 2px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.fovRadio {
    height: 13px;
    margin-bottom: 2px;
}

#videoOverlay {
    border-radius: 5px;
}

.stripeTypes, .sampleSize {
    display: flex;
    justify-content: stretch;
    column-gap: 4px;
    height: 23px;
}

.sampleSize span {
    display: flex;
}

.sampleSize p {
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;

}


.stripeTypes p {
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;

}

span input {
    width: 46px;
    padding: 0 !important;
    height: 25px !important;
}

.stripeFps {
    /*height: 44px;*/
    display: flex;
}

.stripeFps p {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.stripeFps span input {
    margin-bottom: 3px;
}

.stripeRun {
    height: 25px !important;
    line-height: normal;
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    top: -14px;
    position: relative;
}

.wrongButton {
    background-color: #cf3e3e;
    color: #fff;
}

.goodButton {
    background-color: #73cf3e;
    color: #fff;
}

.selectedImg {

}

.sampleScale {
    display: flex;
}


.sampleScale p {
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0 !important;
}

#videoOverlay {
    position: absolute;
    top: 0px;
    left: 0;
}

.stripeCan {
    width: 80%;
}

.slitEdit {
    border: red solid 1px;
}


#pointer1, #pointer2 {

    cursor: pointer;
}

#pointer1:hover, #pointer2:hover {

    fill: #cf3e3e !important;
}

.delRowImg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#stripeBrush {
    border: #555555 1px solid;
    border-radius: 5px;
    position: absolute;
    left: 28.5%;
    width: 72%;
    background-color: rgba(149, 148, 148, 0.24);
    display: none;
}

.stripeBrushBtn {
    width: 20px;
    height: 20px;
    border: #555555 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.selectedBrush {

    border: #cf3e3e 1px solid !important;

}


/*SIDE PANEL FOR PHOTOS*/

#sidebar {
    width: 250px;
    /*background-color: #fff;*/
    right: 0;
    height: 54vh;

    /*top: 0;*/
    /*height: 34vh;*/

    z-index: 99;
    text-align: center;
    padding: 3px;
    border-radius: 5px;

    border: solid 1px #717171;

}

#sidebar h5 {
    font-size: 1.9rem;
    font-weight: 550;
    padding: 5px;
    box-shadow: 0px 40px 1px -40px #555555;
    margin-bottom: 5px;
}

.sideHeader div {
    padding: 10px;
    user-select: none;
    margin: auto; /* Magic! */
}

#strokeBtn, #cropBG, #mapToggle {
    width: 20px;
    height: 20px;
    border: #555555 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
